# Backend Configuration
GEMINI_API_KEY=AIzaSyDtZQ_bEHvxJUqQo8Q2Pd2Ok9U31bF6olk
EMAIL_USER=udit1553.be23@chitkarauniversity.edu.in
EMAIL_PASS=6202584736udit
FRONTEND_URL=http://localhost:3000
ENVIRONMENT=development

# These are optional for local development
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
